/* common elements */
.wrapper{width: 100%; height: auto; max-width: 1280px; margin: auto; padding: 0 2.5rem;}
.container{width: 100%; height: auto; padding: 60px; background: #27292a; border-radius: 23px;}
.section{margin-top: 60px; background: #1f2122; border-radius: 23px; padding: 30px;}
.common-btn{width: fit-content; padding: 12px 30px; height: 46px; border-radius: 23px; display: flex; align-items: center; text-align: center; background: #e75e8d; color: #fff; font-size: 14px; transition: all .3s;}
.common-btn:hover{background: #fff; color: #e75e8d;}
.section-title h2{font-size: 34px; margin-bottom: 30px; color: #e75e8d;}
.section-title h2 span{text-decoration: underline; color: #fff;}


/* header section */
header{width: 100%; height: auto; padding: 15px 0 ;}
header .header-section{width:100%; height:70px; display: flex; align-items: center; justify-content: space-between;}
header .header-left{display: flex; align-items: center;}
header .logo{margin-right: 50px; border-right: 1px solid #27292a; padding-right: 50px;}
/* header .search-wrapper{width: 202px; height: 46px; display: flex; align-items: center;} */
header .search-wrapper{position: relative;}
header .search-wrapper form{display: flex;align-items: center;}
header .search-wrapper input{height: 46px; border-radius: 23px; color: #666; font-size: 14px; padding: 0px 15px 0px 45px;} 
header .search-wrapper i{position: absolute; color: #666; left: 20px; font-size: 16px; line-height: 0;}
header .gnb ul{display: flex; align-items: center; text-align: center;}
header .gnb ul li{padding: 0 20px;}
header .gnb a{color: #666; font-size: 14px; font-weight: 300; transition: all .3s;}
header .gnb .home a{color: #e75e8d;}
header .gnb ul li:hover a{color: #e75e8d;}
header .gnb ul li.user{padding-right: 0;}
header .gnb ul li.user a{background: #27292a; display: flex;align-items: center; column-gap: .25rem; color: #666; padding: 8px 10px 8px 20px;}
header .gnb ul li.user img{max-width: 30px; border-radius: 50%; margin-left: 5px; overflow: hidden;}
header .gnb ul li.user:hover a{background: #e75e8d; color: #fff;}

/* landing section */
.landing-section{position: relative;}
.landing-section .landing-video{width: 100%; height: auto; display: flex;}
.landing-section video{width: 100%; border-radius: 23px;}
.landing-section .landing-text{position: absolute; left: 60px; top:50%; transform: translateY(-50%);}
.landing-section .landing-text p{font-size: 20px; color: #fff; font-weight: 400; margin-bottom: 25px;}
.landing-section .landing-text h2{font-size: 45px; margin-bottom: 25px; color: #fff;}
.landing-section .landing-text h2 span{color: #e75e8d;}

/* most popular slider section */
.slider{position: relative;}
.slider .slider-wrapper{width: 100%; height: auto; margin: auto; position: relative;}
.slider .next{position: absolute; top: -70px; right: 30px; font-size: 2em; cursor: pointer; z-index: 99; padding: 0 8px;}
.slider .prev{position: absolute; top: -70px; right: 90px; font-size: 2em; cursor: pointer; z-index: 99; padding: 0 8px;}
.slider .slider-wrapper .item{width: 30%; height: auto; margin: 0 10px 30px; border-radius: 23px; object-fit: cover; overflow: hidden; padding: 30px 15px; background: #27292a;}
.slider .slider-wrapper .item .item-image{position: relative; width: 100%; height: 85%; border-radius: 23px; overflow: hidden; object-fit: cover;}
.slider .slider-wrapper .item .item-image img{width: 100%;  transition: all .3s;}
.slider .slider-wrapper .item .item-info{ padding: 20px; line-height: 30px; display: flex; justify-content: space-between;}
.slider .slider-wrapper .item .item-info h4{font-size: 15px; color: #fff;}
.slider .slider-wrapper .item .item-info .rate i span{color: #fff;}
.slider .slider-wrapper .item .item-info .rate .ri-star-fill{color: yellow;}
.slider .slider-wrapper .item .item-info .rate .ri-eye-fill{color: #e75e8d;}
.slider .slider-wrapper .item .item-info .rate{display: flex; flex-direction: column; align-items: flex-end; justify-content: center;}
.slider .slider-wrapper .item .item-image .hover{position: absolute; width:100%; height: 100%; display: flex; flex-direction:column; gap: 10px; align-items: center; justify-content: center; opacity: 0; z-index: 999;}
.slider .slider-wrapper .item .item-image .hover a{color: #ededed; font-size: 20px; font-weight: 500; transition: all .3s;}
.slider .slider-wrapper .item .item-image:hover img{filter: blur(1px); scale: 1.2; opacity: .4;}
.slider .slider-wrapper .item .item-image:hover .hover{opacity: 1;}
.slider .slider-wrapper .item .item-image .hover a:hover{color: #e75e8d; scale:1.2;}


.more-btn{width: 100%; display: flex; justify-content: center; margin: 0 0 -53px;}

/* rating library section */
.rating-wrapper{width: 100%;}
.rating-item{width: 100%; height: auto; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #27292a; margin-bottom: 20px; padding-bottom: 20px;}
.rating-item .poster{width: 80px; height: 110px; overflow: hidden; object-fit: cover;}
.rating-item .poster img{width: 100%;}
.rating-item li{display: block;}
.rating-item li h4{color: #fff; font-size: 15px;}
.rating-item li span{color: #666; font-size: 14px;}
.rating-item li .ri-star-fill{color: #666;}
.rating-item li .ri-star-fill.active{color: yellow;}

/* footer section */
footer p{text-align: center; padding: 30px 0; color: #fff; font-weight: 200; font-size: 15px; line-height: 30px;}
footer a{color: #fff; transition: all .3s;}
footer a:hover{color: #e75e8d;}

/* top button style */
.top button{color: #fff;display: flex; align-items: center; text-align: center; position: fixed; right: 30px; bottom: 30px; font-size: 30px; padding: 0 8px;}
